* {
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 13px;
	font-style: normal;
	text-align: left;
	color: #4d5156;
}

.container {
	box-shadow: 0px 0px 10px rgba(165, 167, 170, 0.3);
	display: flex;
	justify-content: center;
	margin: 20px;
	flex-direction: column;
}

.table-wrapper {
	overflow: auto;
}

table {
	min-width: 100%;
	background-color: #fcfcfc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-collapse: separate;
	border-spacing: 0;
	margin: auto;
}

.tr {
	display: flex;
}

tr,
.tr {
	width: fit-content;
	height: 30px;
}

tr.expanded td {
	background-color: #effaf5;
}

th,
.th,
td,
.td {
	padding: 14px;
	height: 30px;
	background-color: #fcfcfc;
	border-bottom: 1px solid #eee;
}

th,
.th {
	position: relative;
	border: 1px solid #eee;
	background-color: #fcfcfc;
}

th > *,
.th > * {
	display: inline-block;
}

tbody tr > td:last-of-type::before {
	content: '';
	width: 1px;
	position: absolute;
	height: 100%;
	right: 0;
	background: #eee;
	top: 0;
}

button {
	background-color: transparent;
	border: 0;
}

button.resizer {
	padding: 0;
}

.resizer::before {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	right: 0;
	width: 1px;
	cursor: col-resize;
	padding: 0;
}

.flex {
	display: flex;
}
